    <div id="contentBody">
        <div class="mailDetailBox" style="background:#fff !important;height:100vh; display:block; height:800px;">

            <div class="col-md-4 profileInfo">
                <div> <img src="/img/person2.jpg" alt=""></div>



                <h5>البيانات الشخصية </h5><table class="table ">
                    <tbody>
                        <tr></tr>
                        <tr>
                            <th scope="row">الاسم بالكامل</th>
                            <td>احمد  احمد ابراهيم المطيري</td>

                        </tr>
                        <tr>
                            <th scope="row">تاريخ الميلاد</th>
                            <td>15/7/1982</td>

                        </tr>
                        <tr>
                            <th scope="row">الهاتف</th>
                            <td>224 256 5879</td>

                        </tr>
                        <tr>
                            <th scope="row">الرقم المدني</th>
                            <td>2548987456321548</td>

                        </tr>
                        <tr>
                            <th scope="row"> التواصل الاجتماعي</th>
                            <td>
                                <i class="fa fa-facebook"></i>
                                &nbsp;
                                <i class="fa fa-twitter"></i>
                                &nbsp;
                                <i class="fa fa-instagram"></i>
                            </td>

                        </tr>





                    </tbody>
                </table>

                <br>
                <h5>البيانات الوظيفية </h5><table class="table ">

                    <tbody>
                        <tr></tr>
                        <tr>
                            <th scope="row">الاسم بالكامل</th>
                            <td>احمد  احمد ابراهيم المطيري</td>

                        </tr>

                        <tr>

                            <th scope="row">المسمى الوظيفي</th>
                            <td>رئيس قسم المشتريات</td>

                        </tr>
                        <tr>
                            <th scope="row">مكان العمل</th>
                            <td>إدارة الموارد الخارجية</td>

                        </tr>
                        <tr>
                            <th scope="row">المسئول المباشر</th>
                            <td>طلال ربيع ابو حمد</td>

                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="col-md-8 " style="padding-top:15px;">
                <div class="col-md-6 ">
                    <h5>التوقيع الإلكتروني</h5>
                    <img src="/img/signPic.jpg" width="303" height="115" alt="">
                </div>
                <div class="col-md-6 ">
                    <h5>الشهادة الرقمية</h5>
                    <img src="/img/DigitalCert.jpg" alt="">
                </div>
            </div>
        </div>

    </div>