USE [OneHub_Admin]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingOrder] [int] NULL,
	[IsFavourite] [bit] NULL,
	[Name] [nvarchar](4000) NOT NULL,
	[FK_UserInfo] [uniqueidentifier] NOT NULL,
	[FK_ContactUserInfo] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactsGroup]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactsGroup](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](4000) NOT NULL,
	[Status] [int] NOT NULL,
	[Discriminator] [nvarchar](4000) NOT NULL,
	[FK_UserInfo] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Delegate]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delegate](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NULL,
	[Fromdate] [datetime2](7) NULL,
	[Todate] [datetime2](7) NULL,
	[DelegateID] [uniqueidentifier] NULL,
	[DelegatorID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Delegate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EntityType]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](4000) NOT NULL,
	[Discriminator] [nvarchar](4000) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_EntityType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExternalGroupsMembers]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalGroupsMembers](
	[FK_OrganizationUnit] [uniqueidentifier] NOT NULL,
	[FK_ExternalGroup] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ExternalGroupsMembers] PRIMARY KEY CLUSTERED 
(
	[FK_OrganizationUnit] ASC,
	[FK_ExternalGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Groups]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Group_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InternalGroupsMembers]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternalGroupsMembers](
	[FK_UserInfo] [uniqueidentifier] NOT NULL,
	[FK_InternalGroup] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_InternalGroupsMembers] PRIMARY KEY CLUSTERED 
(
	[FK_UserInfo] ASC,
	[FK_InternalGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invitations]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invitations](
	[Id] [uniqueidentifier] NOT NULL,
	[ReplayDate] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[FK_UserInfoFrom] [uniqueidentifier] NOT NULL,
	[FK_UserInfoTo] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Invitations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobTitles]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTitles](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](512) NOT NULL,
	[Responsibilities] [nvarchar](4000) NULL,
	[Rank] [int] NULL,
	[Description] [nvarchar](1024) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](256) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_JobTitles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organization]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[Id] [nvarchar](4000) NOT NULL,
	[Name] [nvarchar](4000) NOT NULL,
	[About] [nvarchar](4000) NULL,
	[URL] [nvarchar](4000) NULL,
	[Email] [nvarchar](4000) NOT NULL,
	[Fax] [nvarchar](4000) NULL,
	[IsLocal] [bit] NOT NULL,
	[Address] [nvarchar](4000) NULL,
	[OfficeNumber] [nvarchar](4000) NULL,
	[FK_OrganizationType] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrganizationUnit]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationUnit](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](4000) NOT NULL,
	[About] [nvarchar](4000) NULL,
	[Location] [nvarchar](4000) NULL,
	[FK_OrganizationUnitParent] [uniqueidentifier] NULL,
	[FK_Manager] [uniqueidentifier] NULL,
	[FK_Organization] [nvarchar](4000) NULL,
	[FK_OrganizationUnitType] [uniqueidentifier] NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_OrganizationUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](4000) NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RolesUsers]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[FK_Role] [uniqueidentifier] NOT NULL,
	[FK_UserInfo] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_RolesUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Signature]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Signature](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](4000) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
	[EnrollmentDate] [datetime2](7) NOT NULL,
	[NotAfter] [datetime2](7) NOT NULL,
	[NotBefore] [datetime2](7) NOT NULL,
	[Certificate] [nvarchar](4000) NOT NULL,
	[Status] [int] NOT NULL,
	[SMSActivationCode] [nvarchar](4000) NOT NULL,
	[EmailActivationCode] [nvarchar](4000) NOT NULL,
	[ActivationFailureCount] [int] NOT NULL,
	[FK_UserInfo] [uniqueidentifier] NOT NULL,
	[IncludePrivateKey] [bit] NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Signature] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [uniqueidentifier] NOT NULL,
	[LoginName] [nvarchar](4000) NOT NULL,
	[Password] [nvarchar](4000) NULL,
	[PasswordSalt] [nvarchar](4000) NULL,
	[ArabicFullName] [nvarchar](4000) NOT NULL,
	[LatinFullName] [nvarchar](4000) NULL,
	[Email] [nvarchar](4000) NOT NULL,
	[Mobile] [nvarchar](4000) NOT NULL,
	[Photo] [varbinary](max) NULL,
	[PersonalMessage] [nvarchar](4000) NULL,
	[BirthDate] [datetime2](7) NULL,
	[About] [nvarchar](4000) NULL,
	[OfficePhone] [decimal](18, 0) NULL,
	[Status] [int] NOT NULL,
	[FK_OrganizationUnit] [uniqueidentifier] NULL,
	[FK_JobTitle] [uniqueidentifier] NULL,
	[FK_ReportingTo] [uniqueidentifier] NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_UserInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersGroup]    Script Date: 3/31/2017 1:12:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersGroup](
	[Id] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastModified] [datetime2](7) NULL,
	[LastModifiedBy] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
	[FK_Groups] [uniqueidentifier] NOT NULL,
	[FK_UserInfo] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UsersGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ContactsGroup] ([Id], [Name], [Status], [Discriminator], [FK_UserInfo], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'54c5da43-5839-4f88-9832-a6a9016240b5', N'مجموعة خارجية', 1, N'ExternalGroup', N'902980e4-32c5-4dad-9fd9-a6a9015c8755', CAST(N'2016-10-24T21:29:47.0000000' AS DateTime2), N'mameen', CAST(N'2016-10-24T21:29:47.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[ContactsGroup] ([Id], [Name], [Status], [Discriminator], [FK_UserInfo], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'a1638569-5865-44be-99f5-a6a901635edf', N'مجموعة داخلية', 1, N'InternalGroup', N'902980e4-32c5-4dad-9fd9-a6a9015c8755', CAST(N'2016-10-24T21:33:51.0000000' AS DateTime2), N'mameen', CAST(N'2016-10-24T21:33:51.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[ContactsGroup] ([Id], [Name], [Status], [Discriminator], [FK_UserInfo], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'c1d85807-08dd-4287-bcd3-a6a9016e2afe', N'مجموعة خارجية', 2, N'ExternalGroup', N'902980e4-32c5-4dad-9fd9-a6a9015c8755', CAST(N'2016-10-24T22:13:10.0000000' AS DateTime2), N'mameen', CAST(N'2016-10-24T22:13:10.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[Delegate] ([Id], [CreatedBy], [LastModified], [LastModifiedBy], [CreationDate], [IsDeleted], [Fromdate], [Todate], [DelegateID], [DelegatorID]) VALUES (N'902980e4-32c5-4dad-9fd9-a6a9015c8750', N'902980E4-32C5-4DAD-9FD9-A6A9015C8756', CAST(N'2017-03-29T09:53:44.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2019-01-01T00:00:00.0000000' AS DateTime2), 0, CAST(N'2017-04-19T21:00:00.0000000' AS DateTime2), CAST(N'2017-04-28T21:00:00.0000000' AS DateTime2), N'76013838-4bf2-4013-add2-a743016e2baa', N'902980e4-32c5-4dad-9fd9-a6a9015c8756')
INSERT [dbo].[Delegate] ([Id], [CreatedBy], [LastModified], [LastModifiedBy], [CreationDate], [IsDeleted], [Fromdate], [Todate], [DelegateID], [DelegatorID]) VALUES (N'475641b7-7e07-4233-ab6d-a73f00d21e4a', N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-23T12:45:01.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-23T12:45:01.0000000' AS DateTime2), 0, CAST(N'2017-03-22T21:00:00.0000000' AS DateTime2), CAST(N'2017-03-30T21:00:00.0000000' AS DateTime2), N'902980e4-32c5-4dad-9fd9-a6a9015c8756', N'902980e4-32c5-4dad-9fd9-a6a9015c8755')
INSERT [dbo].[Delegate] ([Id], [CreatedBy], [LastModified], [LastModifiedBy], [CreationDate], [IsDeleted], [Fromdate], [Todate], [DelegateID], [DelegatorID]) VALUES (N'495d5f50-fa74-44d9-8557-a74101232af0', N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-25T17:40:06.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-25T17:40:06.0000000' AS DateTime2), 0, CAST(N'2017-03-17T21:00:00.0000000' AS DateTime2), CAST(N'2017-03-30T21:00:00.0000000' AS DateTime2), N'902980e4-32c5-4dad-9fd9-a6a9015c8756', N'902980e4-32c5-4dad-9fd9-a6a9015c8755')
INSERT [dbo].[EntityType] ([Id], [Name], [Discriminator], [CreatedBy], [CreationDate], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'3c0f8b60-8905-4a8b-aaed-a6a901572c87', N'وزارة', N'OrganizationType', N'mameen', CAST(N'2016-10-24T20:49:27.0000000' AS DateTime2), CAST(N'2017-03-14T11:37:43.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[EntityType] ([Id], [Name], [Discriminator], [CreatedBy], [CreationDate], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'ef008ec4-cc0a-4a5e-87de-a6a9015812c6', N'إدارة', N'OrganizationUnitType', N'mameen', CAST(N'2016-10-24T20:52:43.0000000' AS DateTime2), CAST(N'2016-10-24T20:52:43.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[EntityType] ([Id], [Name], [Discriminator], [CreatedBy], [CreationDate], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'3c0f8b60-8905-4a8b-aaed-a6a901672c87', N'هيئة', N'OrganizationType', N'mameen', CAST(N'2016-10-24T20:49:27.0000000' AS DateTime2), CAST(N'2016-10-24T20:49:27.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[ExternalGroupsMembers] ([FK_OrganizationUnit], [FK_ExternalGroup]) VALUES (N'd743cd3d-1c7a-473f-a54c-a6a9016ad2db', N'88b6369d-b165-4ea9-9440-a6a9016e3975')
INSERT [dbo].[Groups] ([Id], [Name], [CreatedBy], [LastModified], [LastModifiedBy], [CreationDate], [IsDeleted]) VALUES (N'3c0f8b60-8905-4a8b-aaed-a6a901572d87', N'Group 1', N'1', CAST(N'2016-01-01T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2016-01-01T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Groups] ([Id], [Name], [CreatedBy], [LastModified], [LastModifiedBy], [CreationDate], [IsDeleted]) VALUES (N'9e7890c8-ca91-4c0c-a223-a73d00a14dcb', N'ييشي', N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-21T09:47:24.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-21T09:47:17.0000000' AS DateTime2), 1)
INSERT [dbo].[Groups] ([Id], [Name], [CreatedBy], [LastModified], [LastModifiedBy], [CreationDate], [IsDeleted]) VALUES (N'6d08a1b5-cea2-42c9-80e2-a74101218f79', N'G2', N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-26T13:09:03.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-25T17:34:15.0000000' AS DateTime2), 0)
INSERT [dbo].[Invitations] ([Id], [ReplayDate], [Status], [FK_UserInfoFrom], [FK_UserInfoTo], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'8841d950-0ed4-40c6-b0f2-a6a90166f82c', CAST(N'2016-10-24T21:46:57.0000000' AS DateTime2), 1, N'902980e4-32c5-4dad-9fd9-a6a9015c8755', N'902980e4-32c5-4dad-9fd9-a6a9015c8755', CAST(N'2016-10-24T21:46:57.0000000' AS DateTime2), N'mameen', CAST(N'2016-10-24T21:46:57.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[JobTitles] ([Id], [Title], [Responsibilities], [Rank], [Description], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'108be828-5386-4c80-8008-a6a80186d332', N'وزير', NULL, NULL, N'Inserting for testing decription', CAST(N'2016-10-23T23:42:55.0000000' AS DateTime2), N'demo\mameen', CAST(N'2016-10-23T23:42:55.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[JobTitles] ([Id], [Title], [Responsibilities], [Rank], [Description], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'979f4a96-eb71-431e-9948-a6a80186d336', N'وكيل', NULL, NULL, NULL, CAST(N'2016-10-23T23:42:55.0000000' AS DateTime2), N'demo\mameen', CAST(N'2016-10-23T23:42:55.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[JobTitles] ([Id], [Title], [Responsibilities], [Rank], [Description], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'f4901365-4f56-455e-b142-a6a80186d336', N'مدير إدارة', NULL, NULL, NULL, CAST(N'2016-10-23T23:42:55.0000000' AS DateTime2), N'demo\mameen', CAST(N'2016-10-23T23:42:55.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[Organization] ([Id], [Name], [About], [URL], [Email], [Fax], [IsLocal], [Address], [OfficeNumber], [FK_OrganizationType], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'09121C13-00CD-4A95-8621-A6A9016894B2', N'الجهاز المركزي لتكنولوجيا المعلومات', N'About Magdy Ameen', NULL, N'mameen@mof.gov.kw', N'1232212', 0, N'address', N'98089765', N'3c0f8b60-8905-4a8b-aaed-a6a901572c87', CAST(N'2016-10-24T21:52:49.0000000' AS DateTime2), N'mameen', CAST(N'2017-03-27T10:43:57.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', 0)
INSERT [dbo].[Organization] ([Id], [Name], [About], [URL], [Email], [Fax], [IsLocal], [Address], [OfficeNumber], [FK_OrganizationType], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'29E5FD3B-F4A2-4978-8904-A73600B1F843', N'22', N'2', N'22', N'2', N'22', 0, N'2', N'2', N'3c0f8b60-8905-4a8b-aaed-a6a901572c87', CAST(N'2017-03-14T10:47:58.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-14T10:47:58.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', 1)
INSERT [dbo].[Role] ([Id], [Name], [Description], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'e2e740f1-cbe8-42b3-8274-a6a9016c2a8c', N'Admin', NULL, CAST(N'2016-10-24T22:05:53.0000000' AS DateTime2), N'mameen', CAST(N'2016-10-24T22:05:53.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[Role] ([Id], [Name], [Description], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'2609fe8c-c597-4ac4-b751-a73d00a00c8d', N'add', N'aadd', CAST(N'2017-03-21T09:42:43.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-21T09:44:30.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', 0)
INSERT [dbo].[RolesUsers] ([Id], [FK_Role], [FK_UserInfo], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'1d0d5a59-24ca-4019-a4c4-a74400d72d0e', N'902980e4-32c5-4dad-9fd9-a6a9015c8755', N'00000000-0000-0000-0000-000000000000', CAST(N'2017-03-28T13:03:23.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-28T13:03:23.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', 0)
INSERT [dbo].[RolesUsers] ([Id], [FK_Role], [FK_UserInfo], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'e062dedf-68f2-40b6-993c-a74400d7bc5a', N'e2e740f1-cbe8-42b3-8274-a6a9016c2a8c', N'902980e4-32c5-4dad-9fd9-a6a9015c8755', CAST(N'2017-03-28T13:05:28.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-28T13:05:28.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', 0)
INSERT [dbo].[RolesUsers] ([Id], [FK_Role], [FK_UserInfo], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted]) VALUES (N'e26fcbec-c02c-4b8d-8465-a74500a1d581', N'e2e740f1-cbe8-42b3-8274-a6a9016c2a8c', N'902980e4-32c5-4dad-9fd9-a6a9015c8756', CAST(N'2017-03-29T09:49:13.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-29T09:49:13.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', 0)
INSERT [dbo].[UsersGroup] ([Id], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted], [FK_Groups], [FK_UserInfo]) VALUES (N'902980e4-32c5-4dad-9fd9-a6a9015c9755', CAST(N'2017-01-01T00:00:00.0000000' AS DateTime2), N'902980e4-32c5-4dad-9fd9-a6a9015c8755', CAST(N'2017-01-01T00:00:00.0000000' AS DateTime2), NULL, NULL, N'3c0f8b60-8905-4a8b-aaed-a6a901572d87', N'902980e4-32c5-4dad-9fd9-a6a9015c8755')
INSERT [dbo].[UsersGroup] ([Id], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted], [FK_Groups], [FK_UserInfo]) VALUES (N'3ed4118c-49c1-451e-9a4f-a73d00d7c526', CAST(N'2017-03-21T13:05:35.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-21T13:05:35.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', 0, N'9e7890c8-ca91-4c0c-a223-a73d00a14dcb', N'902980e4-32c5-4dad-9fd9-a6a9015c8755')
INSERT [dbo].[UsersGroup] ([Id], [CreationDate], [CreatedBy], [LastModified], [LastModifiedBy], [IsDeleted], [FK_Groups], [FK_UserInfo]) VALUES (N'8672c5e0-cee3-499a-acc2-a73f00d26d25', CAST(N'2017-03-23T12:46:08.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', CAST(N'2017-03-23T12:46:08.0000000' AS DateTime2), N'902980E4-32C5-4DAD-9FD9-A6A9015C8755', 0, N'3c0f8b60-8905-4a8b-aaed-a6a901572d87', N'902980e4-32c5-4dad-9fd9-a6a9015c8756')
ALTER TABLE [dbo].[ContactsGroup] ADD  CONSTRAINT [DF_Group_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[JobTitles] ADD  CONSTRAINT [DF_JobTitles_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Signature] ADD  CONSTRAINT [DF_Signature_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Signature] ADD  CONSTRAINT [DF_Signature_IncludePrivateKey]  DEFAULT ((1)) FOR [IncludePrivateKey]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfos_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD  CONSTRAINT [FK_Contact_UserInfos_0] FOREIGN KEY([FK_UserInfo])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[Contact] CHECK CONSTRAINT [FK_Contact_UserInfos_0]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD  CONSTRAINT [FK_Contact_UserInfos_1] FOREIGN KEY([FK_ContactUserInfo])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[Contact] CHECK CONSTRAINT [FK_Contact_UserInfos_1]
GO
ALTER TABLE [dbo].[ExternalGroupsMembers]  WITH CHECK ADD  CONSTRAINT [FK_ExternalGroupsMembers_Group_1] FOREIGN KEY([FK_ExternalGroup])
REFERENCES [dbo].[ContactsGroup] ([Id])
GO
ALTER TABLE [dbo].[ExternalGroupsMembers] CHECK CONSTRAINT [FK_ExternalGroupsMembers_Group_1]
GO
ALTER TABLE [dbo].[InternalGroupsMembers]  WITH CHECK ADD  CONSTRAINT [FK_InternalGroupsMembers_Group_1] FOREIGN KEY([FK_InternalGroup])
REFERENCES [dbo].[ContactsGroup] ([Id])
GO
ALTER TABLE [dbo].[InternalGroupsMembers] CHECK CONSTRAINT [FK_InternalGroupsMembers_Group_1]
GO
ALTER TABLE [dbo].[InternalGroupsMembers]  WITH CHECK ADD  CONSTRAINT [FK_InternalGroupsMembers_UserInfos_0] FOREIGN KEY([FK_UserInfo])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[InternalGroupsMembers] CHECK CONSTRAINT [FK_InternalGroupsMembers_UserInfos_0]
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK_Invitations_UserInfos_0] FOREIGN KEY([FK_UserInfoFrom])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK_Invitations_UserInfos_0]
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK_Invitations_UserInfos_1] FOREIGN KEY([FK_UserInfoTo])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK_Invitations_UserInfos_1]
GO
ALTER TABLE [dbo].[Organization]  WITH CHECK ADD  CONSTRAINT [FK_Organization_EntityType_0] FOREIGN KEY([FK_OrganizationType])
REFERENCES [dbo].[EntityType] ([Id])
GO
ALTER TABLE [dbo].[Organization] CHECK CONSTRAINT [FK_Organization_EntityType_0]
GO
ALTER TABLE [dbo].[OrganizationUnit]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationUnits_EntityType_3] FOREIGN KEY([FK_OrganizationUnitType])
REFERENCES [dbo].[EntityType] ([Id])
GO
ALTER TABLE [dbo].[OrganizationUnit] CHECK CONSTRAINT [FK_OrganizationUnits_EntityType_3]
GO
ALTER TABLE [dbo].[OrganizationUnit]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationUnits_Organization_2] FOREIGN KEY([FK_Organization])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[OrganizationUnit] CHECK CONSTRAINT [FK_OrganizationUnits_Organization_2]
GO
ALTER TABLE [dbo].[OrganizationUnit]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationUnits_OrganizationUnits_0] FOREIGN KEY([FK_OrganizationUnitParent])
REFERENCES [dbo].[OrganizationUnit] ([Id])
GO
ALTER TABLE [dbo].[OrganizationUnit] CHECK CONSTRAINT [FK_OrganizationUnits_OrganizationUnits_0]
GO
ALTER TABLE [dbo].[OrganizationUnit]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationUnits_UserInfos_1] FOREIGN KEY([FK_Manager])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[OrganizationUnit] CHECK CONSTRAINT [FK_OrganizationUnits_UserInfos_1]
GO
ALTER TABLE [dbo].[Signature]  WITH CHECK ADD  CONSTRAINT [FK_Signature_UserInfos_0] FOREIGN KEY([FK_UserInfo])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[Signature] CHECK CONSTRAINT [FK_Signature_UserInfos_0]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfos_JobTitles_1] FOREIGN KEY([FK_JobTitle])
REFERENCES [dbo].[JobTitles] ([Id])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfos_JobTitles_1]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfos_OrganizationUnits_0] FOREIGN KEY([FK_OrganizationUnit])
REFERENCES [dbo].[OrganizationUnit] ([Id])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfos_OrganizationUnits_0]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfos_UserInfos_2] FOREIGN KEY([FK_ReportingTo])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfos_UserInfos_2]
GO
