.menuBar{ background:#38ab94 !important;}
.srchBtn,.pagerBtn{ background:#f1932f !important;}
.loginBtn{ background:#288c78 !important;}
.PgTitle { color:#666 !important;}
.filterBtn { background:#f1932f !important}