.menuBar{ background:#f25648 !important;}
.srchBtn,.pagerBtn{ background:#666 !important;}
.loginBtn{ background:#d84538 !important;}
.PgTitle { color:#666 !important;}
.filterBtn { background:#1b9fff !important}