<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.connection_string">
        Data Source=.;Initial Catalog=OneHub_Admin;User ID=sa;Password=1234
      </property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="current_session_context_class">thread_static</property>
      <property name="cache.use_second_level_cache">false</property>
      <mapping assembly="OneHub360.DB" />
      <mapping assembly="OneHub360.App.Shared" />
      <mapping assembly="OneHub360.App.DAL" />
    </session-factory>
  </hibernate-configuration>
</configuration>
