<div ng-controller="indexIncomingLetterController" ng-init="LoadLetter()">
    <div ng-if="status == 0">
        <loading></loading>
    </div>
    <div class="mailDetailBox" ng-if="status == 1">
        <div class="col-md-12 actionsBoxinner" ng-controller="letterActions"
             ng-init="InitForIncoming(Id)">
            <!--<a href=""><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>  متابعة</a>-->
            <!--<feed-Comment threadid="{{letterData.ThreadId}}"></feed-Comment>-->
            <!--<feed-Share feeditemid="{{Id}}"></feed-Share>-->
            <a ng-click="ShowForwardIncomingLetter(letterData.Id,letterData.Subject,letterData.ThreadId)"><i class="fa fa-share" aria-hidden="true"></i> تحويل</a>
            <a ng-href="{{downloadUrl}}" target="_self"><i class="fa fa-download"></i> تنزيل</a>
            <!--<a><i class="fa fa-print"></i> طباعة</a>-->
            <a ng-click="toggleFullScreen()">
                <i ng-if="!fullScreen" class="fa fa-arrows-alt"></i><span ng-if="!fullScreen"> كامل الشاشة</span>
                <i ng-if="fullScreen" class="fa fa-compress" aria-hidden="true"></i><span ng-if="fullScreen"> جميع البيانات</span>
            </a>
            <a ng-click="LoadLetter(false)"><i class="fa fa-refresh" aria-hidden="true"></i> تحديث</a>
        </div>
        <div ng-class="fullScreen?'col-md-12':'col-md-9'">
            <div id="detailBody" style="width:100%!important;">
                <div ng-show="!fullScreen" class="col-md-12 docInfoBox" style="background:#fff; padding:10px; border:#eee 1px solid!important;">
                    <div class="col-md-2 DocTypeBox"><img src="/img/modules/cms/incomingletter.png" alt="Memo" />{{title}}</div>
                    <div class="col-md-4 tL-SenderInfo">
                        <people-Picker title="الرجاء إختيار مرسل من"
                                       selectedobject="addSelectedFrom"
                                       pickerid="fromUser"
                                       required="true"></people-Picker>
                    </div>
                    <div class="col-md-1"><i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i></div>

                    <div class="col-md-4 tL-SenderInfo">
                        <peoplepicker-Current title="الرجاء إختيار مرسل إلي"
                                              selectedobject="addSelectedTo"
                                              pickerid="toUser"
                                              reuired="true"></peoplepicker-Current>
                    </div>

                    <div class="col-md-12" style="background:#fff; padding:10px; border-top:#eee 1px solid!important;">
                        <span><b> الموضوع: </b> {{letterData.Subject}}</span> |
                        <span><b> تاريخ الإنشاء: </b>{{letterData.CreationDate|date:'dd-MM-yyyy hh:mm a'}} </span> |
                        <span>
                            <b> تاريخ الكتاب: </b>
                            <span>{{letterData.IncomingDate|date:'dd-MM-yyyy hh:mm a'}}</span>
                        </span> |
                        <span>
                            <b> رقم الكتاب: </b>
                            <span>{{letterData.OutgoingNumber}}</span>
                        </span>
                    </div>
                </div>
                <div ng-if="IsDocumentView" class="col-md-12 documentBox" style="background:#fff; padding:10px; border:#eee 1px solid!important;">
                    <h4><i class="fa {{CurrentDocument.Icon}}" aria-hidden="true"></i> {{CurrentDocument.Title}}</h4>
                    <iframe id="documentViewFrame"
                            frameborder='0' ng-src="{{CurrentDocument.ViewUrl}}"></iframe>
                </div>
                <div ng-if="!IsDocumentView" class="col-md-12 documentBox" style=" padding:10px; border:#eee 1px solid!important;">
                    <feed-Actions threadid="{{letterData.ThreadId}}"></feed-Actions>
                </div>
            </div>
        </div>
        <div ng-class="fullScreen?'col-md-12':'col-md-3'" id="ItemDesBox" ng-show="!fullScreen">
            <div>
                <div class="DesBody">
                    <a class="mainDocLink" ng-click="ShowDocumentMainDocument()">
                        <i class="fa fa-file-pdf-o"></i> الوثيقة الرئيسية
                    </a>
                    <a class="actionHisLink" id="myLink" ng-click="ShowActions()"><i class="fa fa-tasks"></i> الاجرائات السابقة</a>
                    <div class="docAttachments">
                        <i class="fa fa-paperclip"></i> المرفقات
                        <div ng-if="attachmentsData.length == 0">
                            لا يوجد مرفقات للمراسلة
                        </div>
                        <br /><br />
                        <div class="input-group attachItemBox" ng-repeat="attachement in attachmentsData track by $index">
                            <span class="attachItemTitle" ng-click="ShowAttachement(attachement)"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{attachement.Title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="status == 2">
        <h4>
            تم إرسال هذا الكتاب بالفعل للمستخدم, هل تريد إعادة فهرسة الكتاب؟
        </h4>
    </div>
</div>