<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="col-xs-12 adminDataBox">
        <ol class="breadcrumb">
            <li><a href="#">الصفحة الرئيسية لإدارة النظام</a></li>
            <!--<li><a href="#">البيانات الشخصية</a></li>
            <li><a href="#">تعديل البيانات الشخصية </a></li>
            <li class="active">مجموعات العمل</li>-->
        </ol>
        <div class="col-md-12 modulesitme">
            <div class="col-md-3">
                <h3> إعدادت النظام</h3>

            </div>
            <div class="col-md-4">
                <a href="#"><img src="/img/usersetting.png" alt="" /></a>
                <br><h4> إدارة الجهات والوحدات التنظيمية</h4>
                <div class="col-md-12 subitem">
                    <a href="#Organizations" class="">إدارة وتسجيل الجهات الخارجية
                        <img src="img/outeradmin.png" /> </a>
                    <a href="#OrganizationUnits"  ng-click="opennew()" class="">إدارة الوحدات التنظيمية
                        <img src="img/flow_chart.png" /></a>
                    <a href="#JobTitles" class="">إدارة المسميات الوظيفية
                        <img src="img/namesadmin2.png" /></a>
                    <a href="#OrganizationUnitTypes" class="">أنواع الوحدات التنظيمية
                        <img src="img/org-types.png" /></a>
                    <a href="#OrganizationTypes" class="">أنواع الجهات الخارجية
                        <img src="img/outertype.png" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="#"><img src="/img/mailing.png" alt="" /></a>
                <br><h4> إدارة المراسلات</h4>
                <div class="col-md-12 subitem">
                    <a href="#UsersInfo" class="">إدارة بيانات الموظفين
                        <img src="img/useradmin.png" /></a>
                    <a href="#Roles" class="">ادوار العمل<img src="img/orgadmin.png" /></a>
                    <a href="#Groups" class="">إدارة المجموعات التعريفية<img src="img/orgnames.png" />
                       </a>
                    <a href="#Delegates" class="">إدارة الإنابة
                        <img src="img/delegation.png" /></a>
                    <a href="#indicators" class="">
                        التوجيه
                        <img src="img/forward.png"  style="width:25px !important; margin-right:5px !important"/>
                    </a>
                    <a href="http://onehub360sp:363/cms/template/file/download/153C9F52-C402-46B0-AC2A-F3D69812301C">
                        تعديل نموذج المذكرة
                        <img src="/img/memoedit.png"  style="width:25px !important;margin-right:5px !important" />
                    </a>
                    <a href="http://onehub360sp:363/cms/template/file/download/E90FA041-883F-4F66-892F-A69001742444">
                        تعديل نموذج الكتاب
                        <img src="/img/letteredit.png"  style="width:25px !important;margin-right:5px !important" />
                    </a>
                    <a href="#Configuration" ng-click="opennew()" class="">
                        الإعدادات
                        <img src="img/namesadmin2.png" />
                    </a>
                </div>
            </div>
          
        </div>
    </div>
</body>
</html>