<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/loginstyle.css">


</head>
<body >
   
    <div class="col-md-12" id="loginPageView" >
       
        <div class=" module form-module">
            <div class="toggle">
                <i class="fa fa-times fa-pencil"></i>
                
            </div>
            <div class="form adminLogoBox" style="background-color:lightblue" ng-controller="login">
                <img src="img/logo.svg" />
                <h2 >لوحة التحكم بإعدادت النظام</h2>
                <form>
                    <input type="text" required ng-model="Username" placeholder="المستخدم" style="text-align:right" />
                    <input type="password" required ng-model="Password" placeholder="كلمة المرور" style="text-align:right" />
                    <button ng-click="login()">الدخول</button>
                </form>
            </div>


        </div>
    </div>
</body>
</html>
